<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical left-nav">
      <%= nav_newest_button 'Newest', root_path %>
      <%= nav_sort_button 'Popular', root_path << "popular", "popular" %>
      <% getUserGroups.each do |group| %>
        <%= nav_group_button group %>
      <% end %>
      <a type="button" data-toggle="modal" href="#new-group" class="btn btn-primary">+ Group</a>
    </div>
  </div>
  <%= render (user_signed_in? ? "groups/group_modal_form" : "devise/sessions/new_modal_form") %>      
  <div class="col-md-10">
      <div class="memes-container">
        <% @memes.each do |meme| %>
          <div class="meme">
            <a href="<%= meme_path(meme) %>"><img src="<%= getMemePath(meme) %>" class="meme-image" /></a>
            <div class="btn-group vote-buttons">
              <% vote = getUserVote meme %>
              <button type="button" class="btn btn-default vote-button<%= ' active' if vote and vote.value == 'down' %>" value="down"><span class="glyphicon glyphicon-thumbs-down"></span></button>              
              <button type="button" class="btn btn-default vote-button<%= ' active' if vote and vote.value == 'up' %>" value="up"><span class="glyphicon glyphicon-thumbs-up"></span></button>
              <button type="button" class="btn btn-default vote-count" id="vote-count">+<%= getVoteCount meme %></button>
            </div>
            <!-- Hidden vote forms. -->
            <%= form_tag '/vote', method: :post, style: 'display:inline;', id: 'vote_form' do %>
              <%= hidden_field_tag 'vote[user_id]', current_user.id if user_signed_in? %>
              <%= hidden_field_tag 'vote[meme_id]', meme.id %>
              <%= hidden_field_tag 'vote[value]' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @memes %>
    <br>
  </div>
</div>
