<%= content_for :page_header do %>
	Choose a template
<% end %>

<%= render (user_signed_in? ? "groups/group_modal_form" : "devise/sessions/new_modal_form") %>

<%= form_for([@group, @meme]) do |f| %>
  <% if @meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
      <% @meme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Begin templates. -->
  <div class="templates-container">
    <% @templates.each do |template| %>
      <% id = "template_" + template.title %>
      <input type="radio" name="template" id="<%= id %>" value="<%= template.path %>">
      <label for="<%= id %>">
        <%= image_tag getTemplatePath(template), title: template.title, class: "template" %>
      </label>
    <% end %>
  </div>
  <!-- End templates. -->
  <!-- Begin fields. -->
  <div class="meme-fields">
    <div class="template-title"><strong>Template:</strong> <span id="template-name"></span></div>
    <br />
    <div class="field">
      <%= f.label :context, class: "label label-default" %><br>
      <%= f.text_field :context %>
    </div>
    <div class="field">
      <label class="label label-default">Text (top)</label><br>
      <input type="text" name="content[top]" id="content[top]" />
    </div>
    <div class="field">
      <label class="label label-default">Text (bottom)</label><br>
      <input type="text" name="content[bottom]" id="content[bottom]" />
    </div>
    <!-- Visibility -->

    <div class="visibility" style="margin: 20px 0 20px 0;">
      <% if @groups.empty? %>
        <h4>
          <small>
            You don't have any groups!
            <% if !user_signed_in? -%> 
              <a data-toggle="modal" href="#new-group">Sign in</a> to create one.
            <% else -%>
              <a data-toggle="modal" href="#new-group"> Create one</a>?
            <% end %>
          </small>
        </h4>
        <fieldset disabled>
      <% end %>
      <div class="form-group">
        <label for="meme_group_id">Post to Group:</label> 
        <select class="form-control" name="meme[group_id]" id="meme_group_id">
          <option value="0">Public (All Users)</option>
          <% selected_group_id = ((@group) ? @group.id : -1) %>
          <% @groups.each do |group| -%>
            <option value="<%= group.id %>" id="meme_group_id_<%= group.id %>" <% if group.id == selected_group_id -%>selected<% end -%>><%= group.name %></option>
          <% end -%>
        </select>
      </div>
      <% if @groups.empty? %>
        </fieldset>
      <% end %>
    </div>
    <!-- End visibility. -->
    <%= hidden_field_tag 'images[bg]' %>
    <%= hidden_field_tag 'images[top]' %>
    <%= hidden_field_tag 'images[bottom]' %>
    <div class="actions">
      <br />
      <%= f.submit "Create Meme", :class => "btn btn-success" %>
      <a class="btn btn-default" title="Back" href="<%= memes_path %>">Back</a>
    </div>
    <!-- End fields -->
  </div>
<% end %>
<div class="canvas-container">
	<canvas id="imageCanvas" class="meme-canvas"></canvas><canvas id="topTextCanvas" class="meme-canvas"></canvas><canvas id="bottomTextCanvas" class="meme-canvas"></canvas>
</div>
