<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <% title = yield(:title) + " | memeosa" %>
  <% else %>
    <% title = 'memeosa' %>
  <% end %>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag "logo.png", width: 226, height: 36 %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <%= link_to "Leave Feedback", "https://docs.google.com/forms/d/1hmA3Q97SfMgazUl0Z7m0xyKYcKJogm9WZuyEdwVdILk/viewform", class: "feedback-link" %>
          	<!-- Main nav list items here. -->
            <!-- <li class="active"><a href="#">Home</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <!-- Right nav list items here. -->
          		<% if !user_signed_in? %>
	            	<li><a href="<%= new_user_session_path %>" class="nav-button"><input type="button" class="btn btn-default" value="Sign In"></a></li>
            	<% else %>
            		<li><a href="<%= destroy_user_session_path %>" class="nav-button"><input type="button" class="btn btn-default" value="Sign Out"></a></li>
            	<% end %>
            	<li><a href="<%= gaware_new_meme_path %>" class="nav-button"><input type="button" class="btn btn-success" value="+ New Meme"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Part 1: Wrap all page content here. -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
      	<%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
	      <% if content_for?(:page_header) %>
	        <div class="page-header">
	          <h1><%= yield :page_header %></h1>
	        </div>
	      <% end %>
        <%= yield %>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Your productivity.. it's over 9000! (<%= link_to "context", "http://knowyourmeme.com/memes/its-over-9000"%>). 
        <br>Memosa &copy; 2013 by <%= link_to "Cam Juarez", "http://camjuarez.com" %>.</p>
      </div>
    </div>
</body>
</html>
